<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{database_name_here}}');

/** MySQL database username */
define('DB_USER', '{{username_here}}');

/** MySQL database password */
define('DB_PASSWORD', '{{password_here}}');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '7s~+uTep{@xZ;o+ 57bbvOrQxUZT[uXo_-oV8LF%Q)Spp6`tJ4 J(1{oq@CHR;Fd');
define('SECURE_AUTH_KEY',  'uca9}R4[Vz|g[q{5(1s!ofCdn+/Z5.vl1FY85<+R%#/.xZ[VR`uLAp(~5)tU_9w;');
define('LOGGED_IN_KEY',    '}2i!GWca6~z~6V5V:*+8xaTi?o{6?&i0._p73],Y{oo;Ue:t3$,<w69^NjH2_k5&');
define('NONCE_KEY',        'x&&#W2im^RYK|-]0h37I~oOK#SQ~};D:=&8nj>0ZX)_XKT{+hX`T!=>;uzXt!O.-');
define('AUTH_SALT',        'tDFbO:.6Mk`4Rk)ST97r xr|g)d!J+F_N4@mdLtoXn>_QIWOD}+FPn}gMt|ym%kq');
define('SECURE_AUTH_SALT', 'Vw!&Q;@+i$#ds]v5,|yU=a@e(Ssd.*~=U1XoMpdc7#5k26F3Hrzpbth#Z_+V4m|t');
define('LOGGED_IN_SALT',   '-s L)-wS[@;|de=o:v W4?@JWPvn>k%<atrf-)]qFb$|%7#+r^}hoGjDQ!dwhA?.');
define('NONCE_SALT',       ']K+}:|9,~%u D_aP)V;x}!G_8wLs4bGz07 Ts_W$_|{g)QQp5d`i#Im|O|W{B^{]');
/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
